.top-contents
  = react_component("TopImage", {images: @images})

.low-contents
  .low-contents__elements
    %h1.low-contents__elements--caption Let's choose movie!
    .low-contents__elements--movies
      - @movies.each do |m|
        = react_component("Movie", {id: m.id, title: m.title, summary: m.summary, image: m.movie_image})

- if current_user.try(:admin?)
  = link_to '管理者専用ページ', rails_admin_path, style: "color: white"