* {
  box-sizing: border-box;
}

.header {
  background-color:  rgba(0,0,0,0.8);
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1;
  &__content{
    line-height: 50px;
    &--title{
      padding-left: 15px;
      float: left;
      text-decoration: none;
      color: limegreen;
      font-weight: bold;
      font-size: 25px;
    }
    &--user{
      color: limegreen;
      position: absolute;
      top: 0;
      right: 60px;
    }
    &--menu{
      padding-right: 15px;
      float: right;
      color: limegreen;
      font-weight: bold;
      font-size: 20px;
    }
  }
}
