
.menu-icon{
  font-size: 30px;
  position: fixed;
  top: 0;
  right: 15px;
}


.menu-card{
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 200px;
  text-align: right;
  border: solid 1px gray;
  &__list{
    li:hover{
      background-color: limegreen;
    }
  }
}

.menu-link {
  padding-right: 15px;
  text-decoration: none;
  font-size: 13px;
  color: white;
  font-weight: lighter;
}