.movie-card {
  display: inline-block;
  margin-right: 24px;
  width: 250px;
  height: 360px;
  text-align: center;
  cursor: pointer;
}

.movie-item {
  margin: 48px 0 64px;
  &:hover{
    border: solid 1px lemonchiffon;
  }
}

.movie-item img {
  width: 100%;
}



.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-inner {
  position: absolute;
  top: 8%;
  right: 0;
  left: 0;
  width: 480px;
  padding-bottom: 60px;
  margin: auto;
  background-color: white;
  border-radius: 8px;
}

.modal-header {
  height: 8px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 8px 8px 0 0;
}

.modal-introduction h2 {
  font-size: 25px;
  font-weight: bold;
}


.modal-introduction p {
  color: #5876a3;
  width: 384px;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  margin: 36px auto 40px;
}

.modal-move-btn {
  @include btn(limegreen, white)
}

.modal-close-btn {
  margin-left: 10px;
  @include btn(#f0f4f9, #8491a5)
}


